[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "<5"
pytest-xdist = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-pythonpath = "*"
pycodestyle = "*"
pydocstyle = "*"
flake8 = "*"
isort = "*"
unify = "*"
mypy = "*"
pytype = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
{{ cookiecutter.project_name }} = {path = ".",editable = true}

[packages]

[requires]
python_version = "{{ cookiecutter.python_version }}"
